/*Order*/


body {
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: auto;
    background: linear-gradient(rgba(246, 244, 244, 0.3), #f4f6f6), url(Back.JPG) no-repeat;
    background-size: cover;
    background-position: center;
}

.order {
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;

}

.order h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #68083e;
    font-size: 55px;
}


.order .order_main form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0 10px;
}

.order .order_main form .input p {
    line-height: 25px;
}

.order .order_main form .input {
    margin: 5px;
    margin-left: 120px;
}

.order .order_main form .input input {
    width: 300px;
    height: 35px;
    padding: 0 10px;
    border: 2px solid #c38a8a;
    background: #f3f1f1;
    outline: none;
    border-radius: 3px;
}

.order .order_main form .input input:focus {
    border: 2px solid #68083e;
}

.order .order_main form .order_btn {
    padding: 15px;
    background: #68083e;
    color: rgb(252, 252, 252);
    width: 40%;
    text-align: center;
    margin-top: 50px;
    margin-left: 120px;
    text-decoration: none;
    font-size: 20px;
}

p {
    font-weight: bold;
    font-size: 20px;
}